In [4]:
import numpy as np
import pandas as pd
import datetime

bonus_t = pd.DataFrame({
    '1p': [0.65,0.75,0.8,0.9,0.9], 
    '2p': [0.9,1.05,1.15,1.25,1.25],
    '3p': [1.3,1.5,1.6,1.8,1.8],
    '4p': [1.85,2.1,2.25,2.25,2.25,]
},index=[14,15,16,17,18])

In [7]:
bonus_t

      1p    2p   3p    4p
14  0.65  0.90  1.3  1.85
15  0.75  1.05  1.5  2.10
16  0.80  1.15  1.6  2.25
17  0.90  1.25  1.8  2.25
18  0.90  1.25  1.8  2.25

In [9]:
grade = 15

salary = 150000

assessment = '3p'

bonus_t.loc[grade,assessment]

1.5

In [36]:
import locale
locale.setlocale( locale.LC_ALL, 'EN-gb' )
def rub(x):
    return locale.format_string('%g',val=x,grouping=True)+' rub'

rub(123456)

'123,456 rub'